{% extends "base.jinja" %}

{% block content %}
  {% call ui.paragraph() %}
    Hi <strong>{{ full_name }}</strong>
  {% endcall %}

  {% call ui.paragraph() %}
    It seems that you have requested a password reset for your account for Ayon.
  {% endcall %}

  {% call ui.paragraph() %}
    Please click the button below to reset your password.
  {% endcall %}
{% endblock %}

{% block call_to_action %}
  {{ ui.call_to_action("Reset password", reset_url) }}
{% endblock %}

{% block footer %}
  If you did not request a password reset, please ignore this email.
{% endblock %}

